<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVODemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0496F5B1C111FB600A6630A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0496F6F1C111FB600A6630A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0496F7A1C111FB600A6630A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
